<div class="card">
    <section>
        <strong>Name: {{studio?.Name}}</strong>
        <p>Type: {{studio?.Type}}</p>
        <p> Location: {{studio?.Location?.City}}, {{studio?.Location?.Area}}, {{studio?.Location?.Address}},
        </p>
        <p> Amenities: {{studio?.Amenities?.toString()}}
        </p>
        <p> Price per hour: {{studio?.PricePerHour}}
        </p>
        <p> Rating: {{studio?.Rating}}
        </p>
    </section>

    <!-- // commented as img links are not valid -->
    <!-- <div *ngFor="let img of studio?.Images">
        <img [src]="img" alt="studio-img" srcset="" height="50" width="40">
    </div> -->

    <button mat-raised-button color="primary" (click)="openBookingDialogue()">Book Now</button>

</div>