<div class="card">
    <section>
        <h2>Name: {{studio?.Name}}</h2>
        <p>Type: {{studio?.Type}}</p>
        <p> Location: {{studio?.Location?.Area}}, {{studio?.Location?.Address}}, {{studio?.Location?.City}}</p>
        <p> Amenities: {{studio?.Amenities?.toString()}}</p>
        <p> Price per hour: {{studio?.Currency}} {{studio?.PricePerHour}}</p>
        <app-studio-rating [rating]="studio?.Rating ?? 0"></app-studio-rating>
    </section>

    <!-- // commented as img links are not valid -->
    <!-- <div *ngFor="let img of studio?.Images">
        <img [src]="img" alt="studio-img" srcset="" height="50" width="40">
    </div> -->

    <button mat-raised-button color="primary" (click)="openBookingDialogue()">Book Now</button>

</div>